/*importação de fonte do google fontes com varias especuras diferentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color:#E3DCCD;
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 80%;
    margin: 5%; 
    flex-direction: row;
}

/* Header*/
.header {
    position: absolute; 
    top: 0; 
    width: 100%;
    height: 75px;
    background-color: #E3DCCD;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px; 
    /* box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.489); */
    padding: 0%;
}
.header .container {
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
   
}
.navbar {
    width: 700px;
    display: flex;
    list-style: none; 
    justify-content: space-between;
  
}
.navbar li a {
    color: #767066;
    text-decoration: none; 
    font-size: 18px;
    font-weight: 600; 
    display: flex;
    margin-left: 15px;
    letter-spacing: 1px;
    
}
.navbar li a:hover {
    color: #b4a39b;
    transition: 0.5s;

}

.cardLista{
    width: fit-content;
    height: 70%;
    color: #767066;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner {
    margin-top: 170px;

}
.line {
    height: 2px;
    width: 380px;
    background-color: #767066;
    margin-left: 260px;
    margin-bottom: 5%;
}

.banner .container {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    justify-content:flex-start;
    margin-bottom: 10%;
}
.texto-banner {
    color:#767066;
    width: 100%; 
    margin-top: 20px;
    margin-left: 100px;
}
.texto-banner p {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.texto-banner h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 2px;
    color: #767066;
    font-weight: bold;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-banner h1:hover {
    color: #b4a39b;
    transition: 2.0s;
  }

.line:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.texto-banner h2 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 2px;
    color: #767066;
    font-weight: bold;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto-banner p span {
    font-weight: 700; 
}



.banner6 {
    background-color: #767066;
    width: 100%;
    display: flex;
    margin:  0px 0px 0px 0px;
    height: 380px;
    margin-top: 0%;
    background-repeat: no-repeat;
    margin-right: 200px;
    font-family: 'Poppins', sans-serif; 
}

.banner6 .texto-banner6 h1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 100px;
    color:#E3DCCD;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
}

.banner6 .texto-banner6 h5{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 100px;
    color:#E3DCCD;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0%;
    font-weight:initial;
    font-size: 17px;
}


.banner6 .texto-banner6 p{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 100px;
    color:#E3DCCD;
    font-size: 25px;
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 0%;
    text-transform: uppercase;
}

.icons{
    margin-top: 5px;
    margin-left: 380px;
}
.icons img {
    /*configuração das imagens de contato do Fale Conosco*/
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-right: 60px;
}

.botao-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    padding: 40px;
    border-radius: 20px;
    /* margin: 20px 5px 20px 5px;  */
    text-align: center; 
    margin-bottom: 0%;
    color: #E3DCCD;
    margin-left: -20px;
    margin-bottom: 10%;
}

.botao{
    background-color: #767066;
    color: #E3DCCD;
    width: 400px;
    height: 100px;
    border-style: none; /*tira a estilização automatica do botão do html*/
    border-radius: 100px 300px 100px 300px;
    cursor: pointer; /*muda a imagem do cursor quando passar pelo botão*/
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display:inline-block;
    align-items: center;
    justify-content: center; 
    margin-top: 0%;
}

.botaoRegistrar{
    background-color: #E3DCCD;
    color: #767066;
    width: 200px;
    height: 30px;
    border-style: none; /*tira a estilização automatica do botão do html*/
    border-radius: 100px 300px 100px 300px;
    cursor: pointer; /*muda a imagem do cursor quando passar pelo botão*/
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display:inline-block;
    align-items: center;
    justify-content: center; 
    margin-top: 2%;
    margin-bottom: 2%;
}

.inputJog{
    background-color: #E3DCCD;
    color: #767066;
    width: 150px;
    height: 25px;
    border-radius: 300px ;
    margin-top: 2%;
}

.timer{
    font-size: 30px;
    margin-left: 90%;
    margin-top: 0%;
}

.botao a{ 
    color: #767066;
    text-decoration: none;
    font-weight: normal;
}

button:hover{
    /*'animação' do botão quando o mouse passar*/
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    background-color: #bbb5aa;
    color: white;
    transition-duration: 0.3s; /*duração da transição da animação*/
}




.boxes .box1 {
    width: 500px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #767066;
    padding: 40px;
    border-radius: 20px;
    /* margin: 20px 5px 20px 5px;  */
    text-align: center; 
    margin-bottom: 5%;
    color: #E3DCCD;
    margin-left: 26%;
}

.box2{
    width: 1100px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #767066;
    padding: 40px;
    border-radius: 20px;
    /* margin: 20px 5px 20px 5px;  */
    text-align: center; 
    margin-bottom: 10%;
    color: #E3DCCD;
    margin-left: 3%;
 
}

.boxes .box1 h1{
    color: #767066;
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.boxes .box1 p {
    color: #767066;
    font-size: 18px;
    margin-top: 0%;
    padding: 2%;
    width: 100%;
}
.box1:hover {
    transition: 0.5s;
    box-shadow: 0 16px 40px 0 rgba(0,0,0,0.2);
  }

  .box2:hover {
    transition: 0.5s;
    box-shadow: 0 16px 40px 0 rgba(0,0,0,0.2);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    
  }

